.menuButton {
  color: inherit;
}

.menuItemSpace {
  padding: 0px 20px;
  cursor: pointer;
}

.toolbarContainer {
  background-color: #00bcd4;
  display: flex;
  justify-content: center;
}

.toolbar {
  width: 100%;
  max-width: 900px;
}

.loginItem {
  margin-left: auto;
}

.signup {
  padding-left: 10px;
}

.drawerButton {
  height: 50px;
  display: flex;
  align-items: center;
}

@media(max-width: 1000px) {
  .desktopAppBar {
    display: none;
  }

  .mobileToolbarContainer {
    background-color: #00bcd4;
  }

}

@media(min-width: 1001px) {
  .mobileAppBar {
    display: none;
  }
}