.root {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
  background-color: red;
}

.thumbsContainer {
  display: 'flex';
  flex-direction: 'row';
  flex-wrap: 'wrap';
  margin-top: 16;
}

.thumb {
  display: 'inline-flex';
  border-radius: 2;
  border: '1px solid #eaeaea';
  margin-bottom: 8;
  margin-right: 8;
  width: 100;
  height: 100;
  padding: 4;
  box-sizing: 'border-box';
}

.thumbInner {
  display: 'flex';
  min-width: 0;
  overflow: 'hidden';
}

.img {
  display: 'block';
  width: 'auto';
  height: '100%';
  max-height: 300px;
}

.inputImage {
  background-color: aqua;
}

.thumbsContainer {

  display: flex;
  justify-content: center;
  min-height: 30px;
}

.button {
  padding: 50px !important;
}

.icon {
  width: 50px !important;
  height: 50px !important;
}

.smallText {
  font-weight: 400;
  color: rgba(83, 81, 81, 0.795)
}

.alignText {
  text-align: center;
}

.titleAlign {
  display: flex;
  align-content: center;
  justify-content: center;
}

.moveEmoji {
  width: 10px !important;
}